@media screen and (min-width: 800px) {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ::before,
  ::after {
    content: "";
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    color: #2c3e50;
    text-decoration: none;
  }

  .align {
    clear: both;

    width: 80%;
    max-width: 1170px;
    text-align: center;
  }

  .align > li {
    width: 700px;
    min-height: 300px;
    display: inline-block;
    margin: 30px 20px 30px 30px;
    padding: 0 0 0 60px;
    vertical-align: top;
  }

  .book {
    position: relative;
    width: 160px;
    height: 220px;
    perspective: 1000px;
    transform-style: preserve-3d;
  }

  /*
	2. background & color
*/

  /* HARDCOVER FRONT */
  .hardcover_front li:first-child {
    background-color: #eee;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  /* reverse */
  .hardcover_front li:last-child {
    background: #fffbec;
  }

  /* HARDCOVER BACK */
  .hardcover_back li:first-child {
    background: #fffbec;
  }

  /* reverse */
  .hardcover_back li:last-child {
    background: #fffbec;
  }

  .book_spine li:first-child {
    background: #eee;
  }

  .book_spine li:last-child {
    background: #333;
  }

  /* thickness of cover */

  .hardcover_front li:first-child:after,
  .hardcover_front li:first-child:before,
  .hardcover_front li:last-child:after,
  .hardcover_front li:last-child:before,
  .hardcover_back li:first-child:after,
  .hardcover_back li:first-child:before,
  .hardcover_back li:last-child:after,
  .hardcover_back li:last-child:before,
  .book_spine li:first-child:after,
  .book_spine li:first-child:before,
  .book_spine li:last-child:after,
  .book_spine li:last-child:before {
    background: #999;
  }

  /* page */

  .page > li {
    background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1),
      inset -1px 0px 1px rgba(150, 150, 150, 0.2);
    border-radius: 0px 5px 5px 0px;
  }

  /*
	3. opening cover, back cover and pages
*/

  .hardcover_front {
    transform: rotateY(-34deg) translateZ(8px);
    z-index: 100;
  }

  .hardcover_back {
    transform: rotateY(-15deg) translateZ(-8px);
  }

  .page li:nth-child(1) {
    transform: rotateY(-28deg);
  }

  .page li:nth-child(2) {
    transform: rotateY(-30deg);
  }

  .page li:nth-child(3) {
    transform: rotateY(-32deg);
  }

  .page li:nth-child(4) {
    transform: rotateY(-34deg);
  }

  .page li:nth-child(5) {
    transform: rotateY(-36deg);
  }

  /*
	4. position, transform & transition
*/

  .hardcover_front,
  .hardcover_back,
  .book_spine,
  .hardcover_front li,
  .hardcover_back li,
  .book_spine li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }

  .hardcover_front,
  .hardcover_back {
    transform-origin: 0% 100%;
  }

  .hardcover_front {
    transition: all 0.8s ease, z-index 0.6s;
  }

  /* HARDCOVER front */
  .hardcover_front li:first-child {
    cursor: default;
    user-select: none;
    transform: translateZ(2px);
  }

  .hardcover_front li:last-child {
    transform: rotateY(180deg) translateZ(2px);
  }

  /* HARDCOVER back */
  .hardcover_back li:first-child {
    transform: translateZ(2px);
  }

  .hardcover_back li:last-child {
    transform: translateZ(-2px);
  }

  /* thickness of cover */
  .hardcover_front li:first-child:after,
  .hardcover_front li:first-child:before,
  .hardcover_front li:last-child:after,
  .hardcover_front li:last-child:before,
  .hardcover_back li:first-child:after,
  .hardcover_back li:first-child:before,
  .hardcover_back li:last-child:after,
  .hardcover_back li:last-child:before,
  .book_spine li:first-child:after,
  .book_spine li:first-child:before,
  .book_spine li:last-child:after,
  .book_spine li:last-child:before {
    position: absolute;
    top: 0;
    left: 0;
  }

  /* HARDCOVER front */
  .hardcover_front li:first-child:after,
  .hardcover_front li:first-child:before {
    width: 4px;
    height: 100%;
  }

  .hardcover_front li:first-child:after {
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  }

  .hardcover_front li:first-child:before {
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
  }

  .hardcover_front li:last-child:after,
  .hardcover_front li:last-child:before {
    width: 4px;
    height: 160px;
  }

  .hardcover_front li:last-child:after {
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px)
      translateY(-78px);
  }

  .hardcover_front li:last-child:before {
    box-shadow: 0px 0px 30px 5px #333;
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px)
      translateY(-78px);
  }

  /* thickness of cover */

  .hardcover_back li:first-child:after,
  .hardcover_back li:first-child:before {
    width: 4px;
    height: 100%;
  }

  .hardcover_back li:first-child:after {
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  }

  .hardcover_back li:first-child:before {
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
  }

  .hardcover_back li:last-child:after,
  .hardcover_back li:last-child:before {
    width: 4px;
    height: 160px;
  }

  .hardcover_back li:last-child:after {
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px)
      translateY(-78px);
  }

  .hardcover_back li:last-child:before {
    box-shadow: 10px -1px 80px 20px #666;
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px)
      translateY(-78px);
  }

  /* BOOK SPINE */
  .book_spine {
    transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    width: 16px;
    z-index: 0;
  }

  .book_spine li:first-child {
    transform: translateZ(2px);
  }

  .book_spine li:last-child {
    transform: translateZ(-2px);
  }

  /* thickness of book spine */
  .book_spine li:first-child:after,
  .book_spine li:first-child:before {
    width: 4px;
    height: 100%;
  }

  .book_spine li:first-child:after {
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  }

  .book_spine li:first-child:before {
    transform: rotateY(-90deg) translateZ(-12px);
  }

  .book_spine li:last-child:after,
  .book_spine li:last-child:before {
    width: 4px;
    height: 16px;
  }

  .book_spine li:last-child:after {
    transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px)
      translateY(-6px);
  }

  .book_spine li:last-child:before {
    box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px)
      translateY(-6px);
  }

  .page,
  .page > li {
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
  }

  .page {
    width: 100%;
    height: 98%;
    top: 1%;
    left: 3%;
    z-index: 10;
  }

  .page > li {
    width: 100%;
    height: 100%;
    transform-origin: left center;
    transition-property: transform;
    transition-timing-function: ease;
  }

  .page > li:nth-child(1) {
    transition-duration: 0.6s;
  }

  .page > li:nth-child(2) {
    transition-duration: 0.6s;
  }

  .page > li:nth-child(3) {
    transition-duration: 0.4s;
  }

  .page > li:nth-child(4) {
    transition-duration: 0.5s;
  }

  .page > li:nth-child(5) {
    transition-duration: 0.6s;
  }

  /*
	5. events
*/

  .book:hover > .hardcover_front {
    transform: rotateY(-145deg) translateZ(0);
    z-index: 0;
  }

  .book:hover > .page li:nth-child(1) {
    transform: rotateY(-30deg);
    transition-duration: 1.5s;
  }

  .book:hover > .page li:nth-child(2) {
    transform: rotateY(-35deg);
    transition-duration: 1.8s;
  }

  .book:hover > .page li:nth-child(3) {
    transform: rotateY(-118deg);
    transition-duration: 1.6s;
  }

  .book:hover > .page li:nth-child(4) {
    transform: rotateY(-130deg);
    transition-duration: 1.4s;
  }

  .book:hover > .page li:nth-child(5) {
    transform: rotateY(-140deg);
    transition-duration: 1.2s;
  }
}

@media screen and (max-width: 800px) {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ::before,
  ::after {
    content: "";
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    color: #2c3e50;
    text-decoration: none;
  }

  .align {
    clear: both;
    width: 80%;
    max-width: 1170px;
    text-align: center;
  }

  .align > li {
    width: 100px;
    min-height: 300px;
    display: inline-block;
    margin: 0 auto;
    padding: 0 0 0 60px;
    vertical-align: top;
  }
  .book {
    position: relative;
    width: 130px;
    height: 180px;
    perspective: 500px;
    transform-style: preserve-3d;
  }

  /*
	2. background & color
*/

  /* HARDCOVER FRONT */
  .hardcover_front li:first-child {
    background-color: #eee;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  /* reverse */
  .hardcover_front li:last-child {
    background: #fffbec;
  }

  /* HARDCOVER BACK */
  .hardcover_back li:first-child {
    background: rgb(90, 90, 90);
  }

  /* reverse */
  .hardcover_back li:last-child {
    background: #fffbec;
  }

  .book_spine li:first-child {
    background: #eee;
  }

  .book_spine li:last-child {
    background: #333;
  }

  /* thickness of cover */

  /* page */

  .page > li {
    background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1),
      inset -1px 0px 1px rgba(150, 150, 150, 0.2);
    border-radius: 0px 5px 5px 0px;
  }

  /*
	3. opening cover, back cover and pages
*/

  .hardcover_front {
    transform: rotateY(-34deg) translateZ(8px);
    z-index: 100;
  }

  .hardcover_back {
    transform: rotateY(-15deg) translateZ(-8px);
  }

  .page li:nth-child(1) {
    transform: rotateY(-28deg);
  }

  .page li:nth-child(2) {
    transform: rotateY(-30deg);
  }

  .page li:nth-child(3) {
    transform: rotateY(-32deg);
  }

  .page li:nth-child(4) {
    transform: rotateY(-34deg);
  }

  .page li:nth-child(5) {
    transform: rotateY(-36deg);
  }

  /*
	4. position, transform & transition
*/

  .hardcover_front,
  .hardcover_back,
  .book_spine,
  .hardcover_front li,
  .hardcover_back li,
  .book_spine li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }

  .hardcover_front,
  .hardcover_back {
    transform-origin: 0% 100%;
  }

  .hardcover_front {
    transition: all 0.8s ease, z-index 0.6s;
  }

  /* HARDCOVER front */
  .hardcover_front li:first-child {
    cursor: default;
    user-select: none;
    transform: translateZ(2px);
  }

  .hardcover_front li:last-child {
    transform: rotateY(180deg) translateZ(2px);
  }

  /* HARDCOVER back */
  .hardcover_back li:first-child {
    transform: translateZ(2px);
  }

  .hardcover_back li:last-child {
    transform: translateZ(-2px);
  }

  /* thickness of cover */
  .hardcover_front li:first-child:after,
  .hardcover_front li:first-child:before,
  .hardcover_front li:last-child:after,
  .hardcover_front li:last-child:before,
  .hardcover_back li:first-child:after,
  .hardcover_back li:first-child:before,
  .hardcover_back li:last-child:after,
  .hardcover_back li:last-child:before,
  .book_spine li:first-child:after,
  .book_spine li:first-child:before,
  .book_spine li:last-child:after,
  .book_spine li:last-child:before {
    position: absolute;
    top: 0;
    left: 0;
  }

  /* HARDCOVER front */
  .hardcover_front li:first-child:after,
  .hardcover_front li:first-child:before {
    width: 4px;
    height: 100%;
  }

  .hardcover_front li:first-child:after {
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  }

  .hardcover_front li:first-child:before {
    transform: rotateY(90deg) translateZ(120px) translateX(1px);
  }

  .hardcover_front li:last-child:after,
  .hardcover_front li:last-child:before {
    width: 4px;
    height: 85px;
  }

  .hardcover_front li:last-child:after {
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px)
      translateY(-78px);
  }

  .hardcover_front li:last-child:before {
    box-shadow: 0px 0px 30px 5px rgb(0, 0, 0);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-138px) translateX(-3px)
      translateY(-78px);
  }

  /* thickness of cover */

  .hardcover_back li:first-child:after,
  .hardcover_back li:first-child:before {
    width: 4px;
    height: 100px;
  }

  .hardcover_back li:first-child:after {
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  }

  .hardcover_back li:first-child:before {
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
  }

  .hardcover_back li:last-child:after {
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px)
      translateY(-78px);
  }

  .hardcover_back li:last-child:before {
    box-shadow: 7px -1px 80px 20px rgb(0, 0, 0);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-192px) translateX(2px)
      translateY(-78px);
  }

  /* BOOK SPINE */
  .book_spine {
    transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    width: 16px;
    z-index: 0;
  }

  .book_spine li:first-child {
    transform: translateZ(2px);
  }

  .book_spine li:last-child {
    transform: translateZ(-2px);
  }

  /* thickness of book spine */
  .book_spine li:first-child:after,
  .book_spine li:first-child:before {
    width: 4px;
    height: 100%;
  }

  .book_spine li:first-child:after {
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  }

  .book_spine li:first-child:before {
    transform: rotateY(-90deg) translateZ(-12px);
  }

  .book_spine li:last-child:after,
  .book_spine li:last-child:before {
    width: 4px;
    height: 16px;
  }

  .book_spine li:last-child:after {
    transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px)
      translateY(-6px);
  }

  .book_spine li:last-child:before {
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px)
      translateY(-6px);
  }

  .page,
  .page > li {
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
  }

  .page {
    width: 100%;
    height: 98%;
    top: 1%;
    left: 3%;
    z-index: 10;
  }

  .page > li {
    width: 100%;
    height: 100%;
    transform-origin: left center;
    transition-property: transform;
    transition-timing-function: ease;
  }

  .page > li:nth-child(1) {
    transition-duration: 0.6s;
  }

  .page > li:nth-child(2) {
    transition-duration: 0.6s;
  }

  .page > li:nth-child(3) {
    transition-duration: 0.4s;
  }

  .page > li:nth-child(4) {
    transition-duration: 0.5s;
  }

  .page > li:nth-child(5) {
    transition-duration: 0.6s;
  }

  /*
	5. events
*/

  .book:hover > .hardcover_front {
    transform: rotateY(-145deg) translateZ(0);
    z-index: 0;
  }

  .book:hover > .page li:nth-child(1) {
    transform: rotateY(-30deg);
    transition-duration: 1.5s;
  }

  .book:hover > .page li:nth-child(2) {
    transform: rotateY(-35deg);
    transition-duration: 1.8s;
  }

  .book:hover > .page li:nth-child(3) {
    transform: rotateY(-118deg);
    transition-duration: 1.6s;
  }

  .book:hover > .page li:nth-child(4) {
    transform: rotateY(-130deg);
    transition-duration: 1.4s;
  }

  .book:hover > .page li:nth-child(5) {
    transform: rotateY(-140deg);
    transition-duration: 1.2s;
  }
}
