body {
  background-image: url('images/bg2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  background-position: fixed;
}

.navbar {
  border-radius: 30px;
  margin: 0 20%;
}
.navbar-brand img {
  height: 35px;
  width: 35px;
}

.navbar-nav a {
  color: rgb(255, 255, 255);
}
#hamburger {
  height: 35px;
  width: 35px;
}
.navs {
  font-weight: 300;
  font-family: "Faster One", cursive;
  font-size: 20px;
  margin-left: 40px;
  width: 60px;
  transition: width 1s;
  transition-timing-function: linear;
}
.navs:hover {
  background-color: rgb(67, 96, 134);
  width: 100px;
  color: aliceblue;
  border-radius: 5px;
}
#disp {
  margin-top: 50px;
}

#tagline {
  color: aliceblue;
  font-family: "Caveat Brush", cursive;
  margin-top: 100px;
  text-align: center;
}



@media screen and (max-width: 800px) {
  #disp {
    visibility: hidden;
  }
}
@media screen and (max-width: 770px) {
  .navbar {
    margin: 0;
  }
  .navs:hover {
    width: 300px;
  }


}

@media screen and (min-width: 669px) {
  .mobilecards {
    visibility: hidden;
  }
}
