body{
  background-image: url('images/navbg.png');
  background-size: cover;
  background-repeat: no-repeat;

  background-position: fixed;
}

.navbar {
  border-radius: 30px;
  margin: 0 20rem;
}
.navbar-brand img {
  height: 35px;
  width: 35px;
}

.navbar-nav a {
  color: rgb(255, 255, 255);
}
#hamburger {
  height: 35px;
  width: 35px;
}
.navs {
  font-weight: 300;
  font-family: "Faster One", cursive;
  font-size: 20px;
  margin-left: 40px;
  width: 60px;
  transition: width 1s;
  transition-timing-function: linear;
}
.navs:hover {
  background-color: rgb(67, 96, 134);
  width: 100px;
  color: aliceblue;
  border-radius: 5px;
}

#deets{
  margin-top: 200px;
}

form{
  margin: 120px 50px ;
  background-color: rgb(43, 72, 99);
  padding: 30px;
  color: white;
  border: 2px solid black;
  border-radius: 30px;
}

#bookcard{
  margin-top: 300px;
}

@media screen and (max-width: 770px) {
  .navbar {
    margin: 0;
  }
  .navs:hover {
    width: 300px;
  }

  body {
    background-image: url("images/bg1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
    background-position: fixed;
  }
}
