body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.unsplash.com/photo-1476081718509-d5d0b661a376?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=333&q=80");
}

#main_block {
  background-color: white;
  padding: 5%;
  width: 70%;
  margin: 135px auto;
  box-shadow: -9px 10px 50px 1px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: -9px 10px 50px 1px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: -9px 10px 50px 1px rgba(0, 0, 0, 0.74);
}

#submit {
  background-color: rgb(1, 1, 59);
}
#login {
  font-family: "Source Serif Pro", serif;
  color: rgb(1, 1, 59);
}

#main_block label {
  font-weight: bold;
  font-size: 1.3rem;
}

.card {
  width: 95%;
  height: 120%;
  background-color: rgb(1, 1, 59);
  color: white;
  /*box-shadow: 10px 10px 54px -1px rgba(0,0,0,0.39);
-webkit-box-shadow: 10px 10px 54px -1px rgba(0,0,0,0.39);
-moz-box-shadow: 10px 10px 54px -1px rgba(0,0,0,0.39);*/
}

.card h5 {
  font-size: 2rem;
}

.card-text {
  font-size: 1.3rem;
}

.card a {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
  top: 100%;
}

input {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.45);
}

.form-control {
  border: 0.5px solid black;
  width: 90%;
}

@media (max-width: 768px) {
  #main_block {
    width: 50%;
  }
  .card {
    height: 100%;
    background-color: white;
  }
  .card-body {
    background-color: rgb(1, 1, 59);
    width: 124%;
    position: relative;
    left: -10%;
    top: 2%;
  }
  #card_container {
    padding: 0;
  }
}
