{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'bookstore/main.css' %}">

	</head>
	<body>
	<div class="container">
        <nav class="navbar navbar-expand-md ">
            <a href="#" class="navbar-brand"
            ><img src="https://cdn.iconscout.com/icon/free/png-256/bookshelf-274-459914.png" alt=""
            /></a>
            <button
                    type="button"
                    class="navbar-toggler"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
            >
          <span class="navbar-toggler-icon"><img
                  id="hamburger"
                  src="https://img.icons8.com/officel/16/000000/menu.png"
          /></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link navs">HOME</a>
                    <a href="#" class="nav-item nav-link navs">LOGIN</a>
                    <a href="{% url 'bookstore-buy' %}" class="nav-item nav-link navs">ABOUT</a>
                </div>
            </div>
        </nav>
	</div>

	<div class="container mt-5 ml-5 mr-5">
			{% for book in books %}
			<div class="col-12 col-md-6 col-lg-3">
				<div class = "card m-1" style="width:15rem">
					<div class="card-body">
						<img class="card-img-top" src="{{ book.image.url}}">
						<h5 class="card-title text-center">{{book.title}}</h5>
						<p class="card-text">
						<ul class="list-unstyled">
							<li><strong>Price - {{book.price }}</strong></li>
							<li>Autor - {{ book.author }}</li>
							<li><small>Listed By - {{book.name}}</small></li>
						</ul>
						</p>
						<a href="#" class="btn btn-success">Buy</a>
						<a href="{% url 'book-detail' book.id %}" class="btn btn-primary">More Details</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

		</body>
</html>

