{% extends "bookstore/base.html" %}

{% block content %}
    <h1>Buy Books</h1>
    {% for book in books %}
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card m-1" style="width:16 rem;">
                <div class="card-body">
			<img class="card-img-top" src="{{ book.image.url }}">
                    <h5 class="card-title text-center"><{{ book.title }}></h5>
                    <p class="crad-text">
                    <ul class="list-unstyled">
                        <li><strong>Price - {{ book.price }}</strong></li>
                        <li>Author - {{ book.author }}</li>
                        <li><small>Listed By - {{ book.name }}</small></li>
                    </ul>
                    </p>
                    <a href="#" class="btn btn-success">Buy</a>
		    <a href="{% url 'book-detail' book.id %}" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
