
{% extends "bookstore/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        


        <form method="get" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <h1 class="border-bottom mb-4" id="add">ADD FILTER</h1>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group ">
                <button class="btn btn-primary " type="submit">APPLY</button>
            </div>
        </form>


    </div>

{% endblock %}




