{% extends "bookstore/base.html" %}
{% load static %}
{% block content %}
<div id="jumbotron" class="row px-0">
<div class="col-6 col-lg-5 m-0 text-center">
    <img src="{% static 'bookstore/images/books.png' %}">
</div>
<div class="col-6 col-lg-7">
    <h1 id="jumbo_name" class=""m-0">USIBUY</h1>
    <p class="lead">Buy and sell used books!</p>
    <button type="button" class="btn btn-dark">Sign Up</button>
</div>
</div>
<div class="row justify-content-center">
    <div class="col-11 col-md-3 text-center" id="stream_select">
        <h1>Science</h1>
        <button type="button" class="btn btn-dark">Explore Books</button>
    </div>
    <div class="col-11 col-md-3 text-center" id="stream_select">
        <h1>Commerce</h1>
        <button type="button" class="btn btn-dark">Explore Books</button>
    </div>
    <div class="col-11 col-md-3 text-center" id="stream_select">
        <h1>Humanities</h1>
        <button type="button" class="btn btn-dark">Explore Books</button>
    </div>
</div>
{% endblock %}