{% extends "bookstore/base.html" %}
{% load static %}
{% block content %}
<div id="jumbotron" class="row px-0">
<div class="col-6 col-lg-5 m-0 text-center">
    <img src="{% static 'bookstore/images/books.png' %}">
</div>
<div class="col-6 col-lg-7">
    <h1 id="jumbo_name" class=""m-0">USIBUY</h1>
    <p class="lead">Buy and sell used books!</p>
    <button type="button" class="btn btn-dark">Sign Up</button>
</div>
</div>
<div class="row">
    <div class="col-12 col-md-6 justify-content-center row" >
        <div class="col-8 text-center mb-2" id="stream_select">
        <h1 class="mb-4">Medical</h1>
        <button type="button" class="btn btn-dark">Explore Books</button>
        </div>
    </div>
    <div class="col-12 col-md-6 justify-content-center row" >
        <div class="col-8 text-center mb-2" id="stream_select">
        <h1 class="mb-4">Engineering</h1>
        <button type="button" class="btn btn-dark">Explore Books</button>
        </div>
    </div>
    <div class="col-12 col-md-6 justify-content-center row" >
        <div class="col-8 text-center mb-2" id="stream_select">
        <h1 class="mb-4">Commerce</h1>
        <button type="button" class="btn btn-dark">Explore Books</button>
        </div>
    </div>
    <div class="col-12 col-md-6 justify-content-center row" >
        <div class="col-8 text-center mb-2" id="stream_select">
        <h1 class="mb-4">Humanities</h1>
        <button type="button" class="btn btn-dark">Explore Books</button>
        </div>
    </div>s
</div>
{% endblock %}